/*---------------------------- 미디어 쿼리 ----------------------------*/
/* 1200px ~ 100% width사이즈 */
@media screen and (min-width: 1200px){
    /* footer */
    .footer_list > .FooterArea { float:left; border-right:1px solid #555; }
        .footer_list > .FooterArea:nth-child(2),
        .footer_list > .FooterArea:nth-child(3) { height: 12vh; margin-top: 54px;}
}
/* 768px ~ 1200px */
@media screen and (min-width: 768px) and (max-width: 1200px){
    /* footer */
    .footer_list {margin: 5% 0;}
        .footer_list > .FooterArea { float:left; border-right:1px solid #555; }
        .footer_list > .FooterArea:nth-child(2),
        .footer_list > .FooterArea:nth-child(3) { height: 12vh; margin-top: 54px;}
}
/* 0 ~ 768px */
@media screen and (max-width: 768px){
    /* footer */
    .footer_list {margin: 10% auto;}
        .footer_list > .FooterArea { border-bottom:1px solid #555; }
        .footer_list > .FooterArea:nth-child(2),
        .footer_list > .FooterArea:nth-child(3) { margin: 10px 0 5px;}
        .dropdown {margin-top: 10%;}
}








* { border: 0; padding: 0; margin: 0; }
a { text-decoration:none; }
ul, li { list-style:none; }

html, body {
    background-color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}
h2 { font-size: 2.5rem; }













/* S:scroll down 애니메이션 */
.bottom-scroll-down {
	display: block;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	text-shadow: 0;
  width: 26px;
  height: 26px;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  z-index: 999;
  position: absolute; bottom: 270px;
  left: 49.35%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}
/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @keyframes fade_move_down {
    0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
/* E:scroll down 애니메이션 */














/* S:FOOTER */
footer {
    background-color: black;
    color: #eee;
    overflow: hidden;
    padding: 4rem;
}
.footer_logo, .footer_list {float:left;}
.footer_list {margin-left: 3%;}
.footer_list > .FooterArea { padding: 0 1rem; }
.footer_list > .FooterArea:nth-child(1) p { font-size: 1.6rem; font-weight: 800; }
.footer_list > .FooterArea:last-child {border:0;}
/* footer {
    font-size: 14px;
}
footer > div { float:left; }
#footer {
    padding: 4rem;
    overflow: hidden;
}
.footer_logo { border:1px solid pink; float:left; height: 20vh; }
.footer_list { max-width: 1300px; border:1px solid red; float:left; }
.footer_list .FooterArea {border-right:1px solid #555; width: 30%; height: 20vh; }
    .footer_list .FooterArea:last-child { 
        width: 40%; border: 0;
    }
.FooterArea p, 
    .FooterArea ul { margin: 0 15%; }
    .FooterArea:nth-child(2) p {
        font-weight: bold;
        font-size: 25px;
        padding-bottom: 10px;
    }
    .FooterArea:nth-child(3) ul {
        padding-top:45px;
    }
    .FooterArea:last-child p {
        padding-top: 45px;
        margin: 0 8%;
    }
    .FooterArea:last-child span {
        display: block;
        padding-top: 15px;
    } */

/* S:select box */
.dropdown {
    float: right;
}
.dropdown-menu {
    max-height: 100px;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 2px;
}
.dropdown-menu li {
    padding: 5px 20px;
}
.caret {
	  float: right;
    margin-top: 5%;
}
#menu1 {
    width: 200px; 
    text-align: left;
}
/* E:select box */

/* E:FOOTER */